@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin:0; padding: 0; box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    padding: 13px;
}

.nav > li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav > li > a {
    text-decoration: none;
    color: #333333;
}

.nav2 {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    padding: 10px;
}

.nav2 > li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav2 > li > a {
    text-decoration: none;
    color: #333333;
}

.header {
    background-color: #fff;
    max-height: 250px;
}

.logo {
    color: #66C05D;
    font-size: 33px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo_image {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
    margin-right: 15px;
}

.logo span {
    letter-spacing: 0.1em;
    line-height: 42px;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.header-info button:hover {
    background-color: #66C05D;
    color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-buttom {
    padding: 15px 0;
}

.header-buttom .nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background-color: #efefef;
    height: 1px;
}

.banner {
    background-image: url(../img/bg.png);
    height: 604px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    color: #fff;
}

.btn {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 8px 50px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #ffffff;
    color: #66C05D;
}

.banner__content {
    max-width: 400px;
}

.title {
    font-size: 45px;
    font-weight: 700;
}

.title-h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 70px;
}

.banner p {
    margin-top: 25px;
    margin-bottom: 50px;
    max-width: 300px;
    font-size: 13px;
}

.bg-white1 {
    background-color:#fff;
}

.bg-green {
    background-color: #66C05D;
    color: #fff;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.bg-green2 {
    background-color: #66C05D;
    color: #fff;
    padding: 33px 46px;
    display: flex;
    justify-content: space-between;
}

.bg-green2 p {
    padding-top: 4px;
    padding-bottom: 10px;
}

.bg-green input {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 7px 26px;
    outline: none;
}

.bg-green-item input::placeholder {
    color:rgb(0, 0, 0, 20%);
}

.bg-green h3 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-green p {
    padding-bottom: 20px;
}

.bg-green2 h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 4px;
}

.bg-green2 p {
    padding-bottom: 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-item-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid-item-img {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
    padding-top: 60px;
}

.grid-item-left {
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 70px;
    height: 100%;
}

.grid-item-right {
    grid-column: 3/5;
    grid-row: 3/4;
    padding-top: 70px;
    height: 100%;
}

.grid-item-catalog {
    text-align: center;
}

.grid-item-catalog .bg-white1 {
    padding: 15px 30px;
} 

.grid-price {
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 15px;
}

.grid-btn {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: #66C05D;
    padding: 6px 40px;
    transition: 0.2s ease;
}

.grid-btn:hover {
    background-color: #fff;
    color: #66C05D;
}
.grid-title {
    padding-bottom: 7px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 20px 0;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #828282;
    text-decoration: none;
}

.footer-info span {
    font-size: 16px;
}

.footer-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.footer-info button:hover {
    background-color: #66C05D;
    color: #fff;
}

.socail {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.social-item {
    display: block;
    width: 45px;
    height: 45px;
    border: 2px solid #66C05D;
    border-radius: 100%;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-youtube {
    display: block !important;
    background-image: url(/img/youtube.svg);
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.pading {
    padding-right: 40px;
}